{% extends "base.html" %}

{% block title %}Iniciar sesión | Tech DNA{% endblock %}

{% block content %}
<section class="auth-card">
    <h2>Iniciar sesión</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">
            Acceder
        </button>
    </form>

    <p style="margin-top: 15px;">
        ¿Aún no tienes cuenta? 
        <a href="{% url 'accounts:register' %}">Regístrate como candidato</a>
    </p>
</section>
{% endblock %}