{% extends "base.html" %}

{% block content %}

{% if not user.is_authenticated %}

    <section class="auth-section hero-section">

            <h2>Empieza tu Tech DNA</h2>
            
            <p>
            Crea tu perfil técnico, realiza evaluaciones y obtén
            certificaciones verificables para demostrar tus habilidades.
            </p>

            <div class="cta-container">
                <a href="{% url 'accounts:register' %}" class="btn btn-primary cta-btn">
                Crear mi perfíl
                </a>
            </div>
        
    </section>

{% endif %}

<section>
    <h2>Evaluaciones Técnicas Reales</h2>

    <p>
    Pon a prueba tus conocimientos mediante retos,
    evaluaciones y certificaciones verificables.
    </p>
</section>

<section>
    <h2>Tecnologías Disponibles</h2>

    <ul>
        <li>Python</li>
        <li>SQL</li>
        <li>Docker</li>
        <li>Linux</li>
        <li>Cloud Computing</li>
    </ul>
</section>

<section>
    <h2>Objetivo</h2>

    <p>
    Conoce tus fortalezas, detecta tus debilidades
    y prepárate para tu próximo puesto tecnológico.
    </p>
</section>

{% endblock %}