{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ platform_name }}</title>
    <link rel="stylesheet"  href="{% static 'css/styles.css' %}">
</head>

<body>

    <header>
        <h1>Tech DNA</h1>
        <p> Descubre, demuestra y certifica tu nivel técnico real. </p>

        {% if user.is_authenticated %}
            <p>Bienvenido, {{ user.username }}!</p>
            <div class="auth-buttons">
                <form method="post" action="{% url 'accounts:logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Cerrar sesión</button>
                </form>
            </div>
        {% else %}
            <div class="auth-buttons">
                <a href="{% url 'accounts:login' %}" class="btn btn-primary">
                Iniciar sesión
                </a>
            </div>
        {% endif %}
            
        </div>

    </header>

    <hr>

    <main>

        <section class="auth-section">
            <h2>Empieza tu Tech DNA</h2>
            
            <p>
            Crea tu perfil técnico, realiza evaluaciones y obtén
            certificaciones verificables para demostrar tus habilidades.
            </p>
            
            <div class="auth-buttons">                
                <a href="{% url 'accounts:register' %}" class="btn btn-primary">
                Crear cuenta
                </a>
            </div>
        </section>

        <section>
            <h2>Evaluaciones Técnicas Reales</h2>

            <p>
            Pon a prueba tus conocimientos mediante retos,
            evaluaciones y certificaciones verificables.
            </p>
        </section>

        <section>
            <h2>Tecnologías Disponibles</h2>

            <ul>
                <li>Python</li>
                <li>SQL</li>
                <li>Docker</li>
                <li>Linux</li>
                <li>Cloud Computing</li>
            </ul>
        </section>

        <section>
            <h2>Objetivo</h2>

            <p>
            Conoce tus fortalezas, detecta tus debilidades
            y prepárate para tu próximo puesto tecnológico.
            </p>
        </section>

        <section>
            <h2>Administración</h2>
            
            <p>
            Accede al panel de administración para gestionar
            usuarios, tecnologías y evaluaciones.
            </p>
            
            <a href="/admin/" class="btn btn-primary">
            Abrir Panel
            </a>
        </section>

    </main>

    <hr>

    <footer>
        <p>
        © 2026 {{ academy }}
        </p>
    </footer>

</body>
</html>